@import "tailwindcss";

:root {
  --primary: #2563eb;
  --primary-light: #3b82f6;
  --background: #f5f7fb;
  --text: #1e293b;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--background);
  color: var(--text);
}